<a href="https://colab.research.google.com/github/luciekash/WebApp/blob/master/Copy_of_Lucy_mwenda_AfterWork_Data_Science_Web_Scraping_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='#2F4F4F'>To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# <font color='#2F4F4F'>AfterWork Data Science: Web Scraping with Python</font>

## <font color='#2F4F4F'>Prerequisites</font>

In [1]:
# We first import the required libraries
# ---
#
import pandas as pd             # library for data manupation
import requests                 # library for fetching a web page 
from bs4 import BeautifulSoup   # library for extrating contents from a webpage

## <font color='#2F4F4F'>Step 1: Obtaining our Data</font>

In [2]:
# PigiaMe: https://www.pigiame.co.ke/it-software-jobs
# ---
#
pigia_me = requests.get('https://www.pigiame.co.ke/it-software-jobs')
pigia_me

In [29]:
# MyJobMag: https://www.myjobmag.co.ke/jobs-by-field/information-technology
# ---
#
MyJobMag = requests.get('https://www.myjobmag.co.ke/jobs-by-field/information-technology')
MyJobMag

In [3]:
# KenyanJob: https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133
# ---
#
KenyanJob = requests.get('https://www.kenyajob.com/job-vacancies-search-kenya?f%5B0%5D=im_field_offre_secteur%3A133')
KenyanJob

## <font color='#2F4F4F'>Step 2: Parsing</font>

In [6]:
# Parsing our document: pigia_me
# ---
# 
soup = BeautifulSoup(pigia_me.text, "html.parser")

In [30]:
# Parsing our document: my_job_mag
# ---
#  
soup1 = BeautifulSoup(MyJobMag .text, "html.parser")

In [8]:
# Parsing our document: kenyan_job
# ---
# 
soup2 = BeautifulSoup(KenyanJob.text, "html.parser")

## <font color='#2F4F4F'>Step 3: Extracting Required Elements</font>

In [18]:
# 1. Extracting job titles and links: pigia me
results = soup_1.find_all('div',attrs={'class':'listing-card__header__title'})
results

#Stripping all surrounding whitesapce

results = [tag.get_text().strip()for tag in results]
results

['Database Administrator I',
 'Assistant Manager, Full Stack Developer',
 'Assistant Manager - Data Engineering',
 'Assistant Manager – Solutions Architecture',
 'Assistant Manager- SAP ABAP Developer',
 'Supervisor – Full Stack Developer',
 'Mobile App Developer',
 'Data Systems Developer',
 'Database and Management Information Systems Manager',
 'Business Analyst']

In [10]:

import re

soup_1 = BeautifulSoup(pigia_me.text, "html.parser") 

for link in soup_1.find_all('a', 

                         attrs={'href': re.compile("^https://www.pigiame.co.ke/listing")}):

     #display the actual urls

    print(link.get('href'))

https://www.pigiame.co.ke/listings/database-administrator-i-3874948
https://www.pigiame.co.ke/listings/assistant-manager-full-stack-developer-3871853
https://www.pigiame.co.ke/listings/assistant-manager-data-engineering-3871846
https://www.pigiame.co.ke/listings/assistant-manager-solutions-architecture-3871831
https://www.pigiame.co.ke/listings/assistant-manager-sap-abap-developer-3871812
https://www.pigiame.co.ke/listings/supervisor-full-stack-developer-3871425
https://www.pigiame.co.ke/listings/mobile-app-developer-3869264
https://www.pigiame.co.ke/listings/data-systems-developer-3867706
https://www.pigiame.co.ke/listings/database-and-management-information-systems-manager-3865623
https://www.pigiame.co.ke/listings/business-analyst-3863818

In [32]:
# 2. Extracting job titles: my_job_mag
# ---
# 
# 
jobs = soup1.find_all('h2')
jobs

#Strpping all surrounding whitespace
jobs =[tag.get_text().strip()for tag in jobs]
jobs

['3D Artist Unity at Grob Aircraft Kenya',
 'Unity Developer at Grob Aircraft Kenya',
 'Full Stack Web Developer at Grob Aircraft Kenya',
 'CCTV and Access Control Technician with 3 Years Experience at Led Power Technology',
 'Full Stack Engineer at Kwolco',
 'Assistant Database Administrator I at Karatina University',
 'Senior User Experience Designer at International Committee of the Red Cross (ICRC)',
 'Service Availability Tech Lead - (22000014) at Safaricom Kenya',
 'Digital Marketing at ShopIt Store',
 'Assistant Manager IAD – Integrated Assurance at Kenya Revenue Authority (KRA)',
 'Assistant Manager – Continuous Audit at Kenya Revenue Authority (KRA)',
 'Assistant Manager, Full Stack Developer at Kenya Revenue Authority (KRA)',
 'Assistant Manager - Data Engineering at Kenya Revenue Authority (KRA)',
 'Assistant Manager – Solutions Architecture at Kenya Revenue Authority (KRA)',
 'Assistant Manager- SAP ABAP Developer at Kenya Revenue Authority (KRA)',
 'Supervisor – Full Stack Developer at Kenya Revenue Authority (KRA)',
 'Database and Management Information Systems Manager at Mercy Corps',
 'Technology and Product Officer KY at Umba',
 'Subscribe to Job Alert',
 'Career Advice',
 'Subscribe to Job Alert',
 'Job Vacancies in ICT / Computer']

In [41]:
# 3. Extracting job titles: kenya_job
# ---

job_title= soup2.find_all('h5')
job_title

#Strpping all surrounding whitespace
job_title =[tag.get_text().strip()for tag in job_title]
job_title

['Sales and Marketing Agent',
 'Social Media Manager',
 'Mid Frontend Developer (React JS)',
 'Mid Level Backend Developer (Java)',
 'Mid Level Backend Developer (.NET)',
 'Mid Level Front End Developer (Angular)',
 'Mid Level IOS Developer',
 'Senior Test Analyst',
 'Senior Test Analyst',
 'Payments Head of Support',
 'Mid Level Finacle Developer',
 'Cricket Data Scout - Nairobi, Kenya',
 'Sales Support Executive',
 'Area Sales Manager',
 'Senior Customer Success Operations Analyst - Customer Programs-US Only',
 'Senior Backend Engineer, Manage: Import',
 'Senior Frontend Engineer, Release',
 'Senior Customer Success Operations Analyst-Product Usage Data',
 'Senior Backend Engineer, Growth: Experimentation',
 'Senior/Staff Fullstack Engineer: Product Analytics',
 'Senior Backend Engineer, Manage: Compliance',
 'Senior Backend Engineer, Product Intelligence',
 'Backend Engineer, Verify: Pipeline Authoring',
 'Backend Engineer, Enablement: Sharding Group',
 'Director of Chaos Engineering - Ubuntu & Distributed Systems']

## <font color='#2F4F4F'>Step 4: Saving our Data</font>

In [19]:
# Saving the scraped contents in a dataframe and preview our data
# ---
#
results = pd.DataFrame({"title":results})
results.head()

                                        title
0                    Database Administrator I
1     Assistant Manager, Full Stack Developer
2        Assistant Manager - Data Engineering
3  Assistant Manager – Solutions Architecture
4       Assistant Manager- SAP ABAP Developer

In [34]:
jobs = pd.DataFrame({"title":jobs})
jobs.head()

                                               title
0             3D Artist Unity at Grob Aircraft Kenya
1             Unity Developer at Grob Aircraft Kenya
2    Full Stack Web Developer at Grob Aircraft Kenya
3  CCTV and Access Control Technician with 3 Year...
4                      Full Stack Engineer at Kwolco

In [42]:
job_title = pd.DataFrame({"title":job_title})
job_title.head()

                                title
0           Sales and Marketing Agent
1                Social Media Manager
2   Mid Frontend Developer (React JS)
3  Mid Level Backend Developer (Java)
4  Mid Level Backend Developer (.NET)