<a href="https://colab.research.google.com/github/luciekash/WebApp/blob/master/Lucy_Mwenda_Assignment_Probability_Theory_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Notebook: Probability Project

## 1. Introduction

We've come a long way and learned:

* How to calculate theoretical and empirical probabilities.
* How to use probability rules to solve probability problems.
* How to use combinations and permutations.

To make learning easier for you, we taught these topics in isolation. In this guided project, however, we put everything together to contribute to the development of a mobile app that is meant to help lottery addicts better estimate their chances of winning.

Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction. Like other compulsive gamblers, lottery addicts soon begin spending from their savings and loans, they start to accumulate debts, and eventually engage in desperate behaviors like theft.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

The institute also wants us to consider historical data coming from the national 6/49 lottery game in Canada. The data set (https://bit.ly/3dDaWQj) has data for 3,665 drawings, dating from 1982 to 2018 (we'll come back to this).

The scenario we're following throughout this project is fictional — the main purpose is to practice applying the concepts we learned in a setting that simulates a real-world scenario.

## 2. Core Functions

We saw our goal is to write code that can enable users to answer probability questions about playing the lottery. Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

A function that calculates factorials; and
A function that calculates combinations.
To calculate factorials, this is the formula we learned we need to use:

```
n!=n×(n−1)×(n−2)×...×2×1
```

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

To find the number of combinations when we're sampling without replacement and taking only k objects from a group of n objects, we can use the formula. 

Now let's start coding the two functions. 

**Task**

* Write a function named `factorial()` which takes as input a number n and computes the factorial of that number n. 

* Write a function named `combinations()` which takes in two inputs (n and k) and outputs the number of combinations when we're taking only k objects from a group of n objects.

In [6]:
# Your code goes here
# ---
#rite a function named factorial() which takes as input a number n and computes the factorial of that number n.
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

   

#Write a function named combinations() which takes in two inputs (n and k) and outputs the number of combinations when we're taking only k objects from a group of n objects.

def combinations(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator/denominator

## 3. One-ticket Probability

We focused on writing `factorial()` and `combinations()`, two core functions that we're going to need repeatedly moving forward. We'll now focus on writing a function that calculates the probability of winning the big prize.

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
* The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

Let's try to write this function!

**Tasks**

1. Write a function named `one_ticket_probability()`, which takes in a list of six unique numbers and prints the probability of winning in a way that's easy to understand.

* Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 possible numbers, and six numbers are sampled without replacement. Use the `combinations()` function you wrote.
* The user inputs just one combination, which means the number of successful outcomes is 1.
* Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for one ticket.
* The function should print the probability in a way that's easy to understand. It's up to you what you choose, but here are a few suggestions:
Print the probability as a percentage.
Use the `str.format()` method to make the printed message more personalized with respect to what the user inputs.

2. Test your function using a few inputs.

3. Add some context for your readers to explain what you did in this step and why.

In [7]:
# Your code goes here
# ---
#
def factorial(n):
    final_product = 1
    for i in range(n, 0, -1):
        final_product *= i
    return final_product

def permutation(n, k):
    numerator = factorial(n)
    denominator = factorial(n-k)
    return numerator/denominator

one_ticket_probability = permutation(49,6) / factorial(6)
big_prize = 1/one_ticket_probability
print(big_prize)

7.151123842018516e-08

In [ ]:
#Print the probability as a percentage
big_prize = 1/one_ticket_probability*100
print(big_prize)

7.151123842018516e-06

In [ ]:
#Use the str.format() method to make the printed message more personalized with respect to what the user inputs

string_value = "Dear player, your chance of winning is {:.7}% thank you for using our service".format(big_prize)
print(string_value)

Dear player, your chance of winning is 7.151124e-06% thank you for using our service

## 4. Historical Data Check for Canada Lottery

We've written a function that can tell users what is the probability of winning the big prize with a single ticket. For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Next, we'll focus on exploring the historical data coming from the Canada 6/49 lottery.

The data set contains historical data for 3,665 drawings (each row shows data for a single drawing), dating from 1982 to 2018. For each drawing, we can find the six numbers drawn in the following six columns:

* `NUMBER DRAWN 1`
* `NUMBER DRAWN 2`
* `NUMBER DRAWN 3`
* `NUMBER DRAWN 4`
* `NUMBER DRAWN 5`
* `NUMBER DRAWN 6`

Let's now write some code to open this data set and get familiar with its structure.

**Tasks**

* Open the `649.csv` file and save it as a pandas DataFrame.
* Print the number of rows and columns of this data set.
* Print the first and the last three rows and try to get familiar with the data set.

In [9]:
# Your code goes here
# Importing our libraries

import pandas as pd
import numpy as nm

In [10]:
# Load the data below
# --- 
# --- 
# /content/649 (2).csv
CanadaLottery = pd.read_csv('/content/649 (1).csv')
CanadaLottery

      PRODUCT  DRAW NUMBER  ...  NUMBER DRAWN 6 BONUS NUMBER
0         649            1  ...              43           13
1         649            2  ...              41            9
2         649            3  ...              39           34
3         649            4  ...              43           34
4         649            5  ...              47           45
...       ...          ...  ...             ...          ...
3660      649         3587  ...              41           35
3661      649         3588  ...              47           26
3662      649         3589  ...              34           16
3663      649         3590  ...              49            8
3664      649         3591  ...              48           17

[3665 rows x 11 columns]

In [11]:
CanadaLottery.shape

(3665, 11)

In [ ]:
#Print the first and the last three rows and try to get familiar with the data set.
CanadaLottery.head(3)

   PRODUCT  DRAW NUMBER  ...  NUMBER DRAWN 6 BONUS NUMBER
0      649            1  ...              43           13
1      649            2  ...              41            9
2      649            3  ...              39           34

[3 rows x 11 columns]

In [ ]:
CanadaLottery.tail(3)

      PRODUCT  DRAW NUMBER  ...  NUMBER DRAWN 6 BONUS NUMBER
3662      649         3589  ...              34           16
3663      649         3590  ...              49            8
3664      649         3591  ...              48           17

[3 rows x 11 columns]

## 5. Function for Historical Data Check

We've focused on opening and exploring the Canada lottery data set. We're now going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list and serve as an input to our function.
* The engineering team wants us to write a function that prints the number of times the combination selected occurred in the Canada data set; and
the probability of winning the big prize in the next drawing with that combination.

We'll now start working on writing this function. Note there's more than one way to solve this problem, so take the instructions below as suggestions.

**Tasks**

1. Extract all the winning six numbers from the historical data set as Python sets (set is a data type in Python).

* Write a function named `extract_numbers()` that takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers. For the first row, for instance, the function should return the set {3, 41, 11, 12, 43, 14}.
* Use `extract_numbers()` in combination with the `DataFrame.apply()` method to extract all the winning numbers.

2. Write a function named `check_historical_occurence()` that takes in two inputs: a Python list containing the user numbers and a pandas Series containing sets with the winning numbers (this is the Series you'll extract using the `extract_numbers()` function).

* Convert the user numbers list as a set using the `set()` function.
* Compare the set against the pandas Series that contains the sets with the winning numbers to find the number of matches — a Series of Boolean values will be returned as a result of the comparison (the value will be True each time there'll be a match).
* Print information about the number of times the combination inputted by the user occurred in the past.
* Print information (in an easy-to-understand way) about the probability of winning the big prize in the next drawing with that combination.

3. Test your function with a few inputs.

4. Add some context for your readers to explain what you did in this step and why.

In [ ]:
# Your code goes here
# Extract all the winning six numbers from the historical data
CanadaLottery.iloc[:, 4:10].head()

   NUMBER DRAWN 1  NUMBER DRAWN 2  ...  NUMBER DRAWN 5  NUMBER DRAWN 6
0               3              11  ...              41              43
1               8              33  ...              39              41
2               1               6  ...              27              39
3               3               9  ...              20              43
4               5              14  ...              34              47

[5 rows x 6 columns]

In [ ]:
# I have a hard time writing functions that will be applied to DataFrames
# This is a very simple function, yet I struggled quite a bit - probably
# about 2 hours. Get better at this
def extractNumbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

In [ ]:
winningNumbers = CanadaLottery.apply(extractNumbers, axis=1)
winningNumbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [ ]:
#Write a function named check_historical_occurence() that takes in two inputs: a Python list containing the user numbers and a pandas Series containing sets with the winning numbers (this is the Series you'll extract using the extract_numbers() function)
def check_historical_occurence(userList, histSeries):
    userSet = set(userList)
    print("User Set: ", userSet)
    win = userSet == histSeries
    winCount = win.sum()
    print("Win Count: ", winCount)
    total = permutation(49,6)
    winProb = (1 / total) * 100
    
    if winCount == 0:
        print("This combination {} has never occurred in the past,however "
             "it does not mean the combination {} has a high or low chance "
             "to occur. however, you still have a {:.8f}% chance "
             "of winning the big prize. In other words, you have a 1 in "
             "{:,} chance of winning the big prize".format(userList, userList, winProb, total))
        
    else:
        print("This combination {} has occurred in the past this {} time(s) . This "
             "does not mean the combination {} has a high or low chance "
             "to occur. however, you still have a {:.8f}% chance "
             "of winning the big prize. In other words, you have a 1 in "
             "{:,} chance of winning the big prize".format(userList, winCount, userList, winProb, total))

In [ ]:
#testing 
number = [3, 9, 10, 43, 13, 20]

In [ ]:
check_historical_occurence(number, winningNumbers)

User Set:  {3, 9, 10, 43, 13, 20}
Win Count:  1
This combination [3, 9, 10, 43, 13, 20] has occurred in the past this 1 time(s) . This does not mean the combination [3, 9, 10, 43, 13, 20] has a high or low chance to occur. however, you still have a 0.00000001% chance of winning the big prize. In other words, you have a 1 in 10,068,347,520.0 chance of winning the big prize

## 6. Multi-ticket Probability

So far, we wrote two functions:

* `one_ticket_probability()` — calculates the probability of winning the big prize with a single ticket
* `check_historical_occurrence()` — checks whether a certain combination has occurred in the Canada lottery data set

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — we're now going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

* The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
* Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
* The function should print information about the probability of winning the big prize depending on the number of different tickets played.

Let's now start writing this function.

**Tasks**

1. Write a function named `multi_ticket_probability()` that prints the probability of winning the big prize depending on the number of different tickets played.

* Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 total numbers, and six numbers are sampled without replacement. Use the `combinations()` function.
* The number of successful outcomes is given by the number of tickets the user intends to play.
* Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for the number of tickets inputted.
* The function should print the probability in a way that's easy to understand. It's up to you what you choose, but here are a few suggestions:
Print the probability as a percentage.
Use the `str.format()` method to make the printed message more personalized with respect to what the user inputs.

2. Test your function using the following inputs: `[1, 10, 100, 10000, 1000000, 6991908, 13983816]`.

3. Add some context for your readers to explain what you did in this step and why.

In [18]:
# Your code goes here 
def multi_ticket_probability(n):
    totalCombos = combinations(49,6)
    prob = n / totalCombos
    probPercent = prob * 100
    reducedChance = round(totalCombos / n)
    print("Your chance of winning  the big prize is {:8f}% if you play "
         "{} ticket(s). In other words, you have a 1 out of {:,} "
         "chance of winning".format(probPercent, n, reducedChance))

In [19]:
multi_ticket_probability(1)

Your chance of winning  the big prize is 0.000007% if you play 1 ticket(s). In other words, you have a 1 out of 13,983,816 chance of winning

In [20]:
multi_ticket_probability(10)

Your chance of winning  the big prize is 0.000072% if you play 10 ticket(s). In other words, you have a 1 out of 1,398,382 chance of winning

In [21]:
multi_ticket_probability(100)

Your chance of winning  the big prize is 0.000715% if you play 100 ticket(s). In other words, you have a 1 out of 139,838 chance of winning

In [22]:
multi_ticket_probability(1000)

Your chance of winning  the big prize is 0.007151% if you play 1000 ticket(s). In other words, you have a 1 out of 13,984 chance of winning

In [23]:
multi_ticket_probability(6991908)

Your chance of winning  the big prize is 50.000000% if you play 6991908 ticket(s). In other words, you have a 1 out of 2 chance of winning

In [24]:
multi_ticket_probability( 13983816)

Your chance of winning  the big prize is 100.000000% if you play 13983816 ticket(s). In other words, you have a 1 out of 1 chance of winning

## 7. Less Winning Numbers - Function

So far, we wrote three main functions:

* `one_ticket_probability()` — calculates the probability of winning the big prize with a single ticket
* `check_historical_occurrence()` — checks whether a certain combination has occurred in the Canada lottery data set
* `multi_ticket_probability()` — calculates the probability for any number of tickets between 1 and 13,983,816

We're going to write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

* Inside the app, the user inputs:
six different numbers from 1 to 49; and
an integer between 2 and 5 that represents the number of winning numbers expected.
* Our function prints information about the probability of having the inputted number of winning numbers.
To help you code this function, we'll guide you through calculating the probability for having exactly five winning numbers. First, we need to differentiate between these two probability questions:

* What is the probability of having exactly five winning numbers?
* What is the probability of having at least five winning numbers?
For our purposes here, we want to answer the first question.

For the sake of example, let's say a player chose these six numbers on a ticket: (1, 2, 3, 4 ,5 ,6). Out of these six numbers, we can form six five-number combinations:
```
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 6)
(1, 2, 3, 5, 6)
(1, 2, 4, 5, 6)
(1, 3, 4, 5, 6)
(2, 3, 4, 5, 6)
```
We can also find the total number of five-number combinations.

For each one of the six five-number combinations above, there are 44 possible successful outcomes in a lottery drawing. For the combination (1, 2, 3, 4, 5), for instance, there are 44 lottery outcomes that would return a prize:
```
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 7)
...
(1, 2, 3, 4, 5, 30)
(1, 2, 3, 4, 5, 31)
...
(1, 2, 3, 4, 5, 49)
```
However, we need to leave out the outcome (1, 2, 3, 4, 5, 6) because we're only interested in outcomes that match exactly five numbers, not at least five numbers. This means that for each of our six five-number combinations we have 43 possible successful outcomes, not 44.

Since there are six five-number combinations and each combination corresponds to 43 successful outcomes, we need to multiply 6 by 43 to find the total number of successful outcomes:
```
6 × 43 = 258
```
Since there are 258 successful outcomes and there are 13,983,816 total possible outcomes, the probability of having exactly five winning numbers for a single lottery ticket is:

```
P (5-winning numbers) = 258 (49 6) = 0.00001845
```

Now let's try to code the function. To calculate the probabilities, we tell the engineering team that the specific combination on the ticket is irrelevant behind the scenes, and we only need the integer between 2 and 5 representing the number of winning numbers expected.


**Tasks**

1. Write a function named `probability_less_6()` which takes in an integer between 2 and 5 and prints information about the chances of winning depending on the value of that integer.

* First, calculate the number of successful outcomes given the value of the input. We already covered how to calculate this when the input is 5 — when the input is lower, we need to take the same approach (but be careful, the number of combinations will vary).

* Second, calculate the number of total possible outcomes.
* Calculate the probability using the number of successful outcomes and the number of total possible outcomes.
* Display the probability value in a way that will be easy to understand for the user.

2. Test your function on all possible inputs: 2, 3, 4, and 5.

3. Add some context for your readers to explain what you did in this step and why.

In [26]:
# Your code goes here 
def probability_less_6(n):
    ticketCombos = combinations(6,n)
    remainingCombos = combinations(49-n, 6-n)
    
    successOutcomes = ticketCombos * remainingCombos
    totalOutcomes = combinations(49,6)
    
    prob = successOutcomes / totalOutcomes
    probPercent = prob * 100
    
    reducedChances = totalOutcomes // successOutcomes
    
    print("your chance of wining {}- is {:5f}%. meaning "
          "you have a 1 in {} chance of winning a {}-number prize-"
          .format(n, probPercent, reducedChances, n))

In [27]:
for num in [2,3,4,5]:
    probability_less_6(num)
    print("-------------------------")

your chance of wining 2- is 19.132653%. meaning you have a 1 in 5.0 chance of winning a 2-number prize-
-------------------------
your chance of wining 3- is 2.171081%. meaning you have a 1 in 46.0 chance of winning a 3-number prize-
-------------------------
your chance of wining 4- is 0.106194%. meaning you have a 1 in 941.0 chance of winning a 4-number prize-
-------------------------
your chance of wining 5- is 0.001888%. meaning you have a 1 in 52969.0 chance of winning a 5-number prize-
-------------------------

## 8. Next Steps

That was all for the guided part of the project! We managed to write four main functions for our app:

* `one_ticket_probability()` — calculates the probability of winning the big prize with a single ticket.
* `check_historical_occurrence()` — checks whether a certain combination has occurred in the Canada lottery data set.
* `multi_ticket_probability()` — calculates the probability for any number of of tickets between 1 and 13,983,816.
* `probability_less_6()` — calculates the probability of having two, three, four or five winning numbers.

Possible features for a second version of the app include:

* Making the outputs even easier to understand by adding fun analogies (for example, we can find probabilities for strange events and compare with the chances of winning in lottery; for instance, we can output something along the lines "You are 100 times more likely to be the victim of a shark attack than winning the lottery").
* Combining the `one_ticket_probability()` and `check_historical_occurrence()` to output information on probability and historical occurrence at the same time.
* Creating a function similar to `probability_less_6()` which calculates the probability of having at least two, three, four or five winning numbers. Hint: the number of successful outcomes for having at least four winning numbers is the sum of these three numbers: The number of successful outcomes for having four winning numbers exactly, the number of successful outcomes for having five winning numbers exactly, the number of successful outcomes for having six winning numbers exactly.